<div class="team-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
        </div>
      </div>


      <div class="row">


        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
            <div class="card-header">
                <div class="card-avatar">
                <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Aziza1.jpg' | relative_url }}">
                </a>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Aziza Suleymanzade
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> PI
                  </div>
                  <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">azizasuleymanzade <br> @berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="/assets/pdfs/AS_CV.pdf" target="_blank" class="mr-3">CV</a> <!-- Added a margin-right to space them -->
                            <button onclick="location.href='https://scholar.google.com/citations?user=GtkbhPUAAAAJ&hl=en';" 
                                    rel="nofollow" class="btn btn-icon-only btn-google-scholar rounded-circle" 
                                    data-toggle="tooltip" data-original-title="Google Scholar">
                                <span class="btn-inner--icon">
                                    <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
            <div class="card-header">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Ankit.jpg' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="card-profile-stats d-flex justify-content-center">
            
              </div>
              <div class="text-center">
                <h5 class="h4">
                    Ankit Muppala
                </h5>
                <div class="font-weight-300">
                  <i class="ni location_pin mr-2"></i> Undergraduate Researcher
                </div>
                <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">ankitmuppala@berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Hana.jpg' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Hana Lampson
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> PhD Researcher
                  </div>
                  <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">hanalampson@berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Mireya.jpg' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Mireya Gonzales-Rivera
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> PhD Researcher
                  </div>
                  <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">mireyagonzalesriv <br> @berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Victor.jpg' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Victor Vasilevskiy
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Undergraduate Researcher
                  </div>
                  <!-- <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">mireyagonzalesriv@berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Yuxuan.jpg' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Yuxuan He
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Undergraduate Researcher
                  </div>
                  <!-- <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">mireyagonzalesriv@berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Runjiu.jpg' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Runjiu Jiang
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Undergraduate Researcher
                  </div>
                  <!-- <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center justify-content-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">mireyagonzalesriv@berkeley.edu</p>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Photini.png' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Postdoc  
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Open Positions
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Photini.png' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    PhD
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Open Positions
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Photini.png' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Undergraduate
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Open Positions
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>



      <div class="card-profile-stats">
        <div class="text-left p-0">
          <div class="avatar-group mb-2">
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Aziza Suleymanzade">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Aziza1.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Ankit Muppala">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Ankit.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Hana Lampson">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Hana.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title=" Mireya Gonzales-Rivera">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Mireya.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Victor Vasilevskiy">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Victor.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Yuxuan He">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Yuxuan.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Runjiu Jiang">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Runjiu.jpg' | relative_url }}">
            </a>
            <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="This could be you!">
              <img alt="Image placeholder" src="{{ '/assets/img/faces/Photini.png' | relative_url }}">
            </a>
          </div>
          <span class="description">Team</span>
        </div>
      </div>
    </div>
  </div>