<div class="team-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="{{ '/assets/img/ill/linth3.svg' | relative_url }}" alt="cover">
            <div class="card-header">
                <div class="card-avatar">
                <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Aziza1.jpg' | relative_url }}">
                </a>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="text-center">
                  <h5 class="h5 mt-3">
                    <span class="font-weight-light"> PI </span>
                  </h5>
                </div>
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="{{ '/assets/img/ill/linth3.svg' | relative_url }}" alt="cover">
            <div class="card-header">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/photini.png' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="card-profile-stats d-flex justify-content-center">
            
              </div>
              <div class="text-center">
                <h5 class="h4">
                  Open Positions
                </h5>
                <div class="font-weight-300">
                  <i class="ni location_pin mr-2"></i>PhD Students
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/linth3.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/photini.png' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Open Positions
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i>Postdoc
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>