<div class="team-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
            <div class="card-header">
                <div class="card-avatar">
                <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/Aziza1.jpg' | relative_url }}">
                </a>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Aziza Suleymanzade
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> PI
                  </div>
                  <ul class="list-unstyled mb-0">
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-email-83"></i>
                          </div>
                        </div>
                        <div>
                          <p class="mb-1">azizasuleymanzade@</p>
                        </div>
                        <div>
                            <p class="mb-1">g.harvard.edu</p>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-user-run"></i>
                          </div>
                        </div>
                        <a href="/assets/pdfs/CV_AS.pdf" target="_blank">CV</a>
                      </div>
                    </li>
                  </ul>
                  

                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
            <div class="card-header">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/photini.png' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="card-profile-stats d-flex justify-content-center">
            
              </div>
              <div class="text-center">
                <h5 class="h4">
                    PhD Students 
                </h5>
                <div class="font-weight-300">
                  <i class="ni location_pin mr-2"></i> Open Positions
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img class="img pattern pattern-top" src="{{ '/assets/img/ill/NetworkBare.svg' | relative_url }}" alt="cover">
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/photini.png' | relative_url }}">
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="card-profile-stats d-flex justify-content-center">
              
                </div>
                <div class="text-center">
                  <h5 class="h4">
                    Postdocs  
                  </h5>
                  <div class="font-weight-300">
                    <i class="ni location_pin mr-2"></i> Open Positions
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>