<div class="team-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
          <!-- <h3 class="display-3">Publications </h3> -->
          <p class="lead">Some of our results from previous research at Harvard and UChicago.</p>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-lg-5 col-md-6 mx-auto">
          <div class="card card-profile" style="padding: 5px;" data-background="full">
            <a href="javascript:;">
              <img class="img img-raised rounded" src="{{ '/assets/img/pubs/twoNode.jpg' | relative_url }}">
            </a>
            <div class="card-body" style="padding: 5px;">
                <h4 class="display-4" style="font-size: 0.8rem;">Entanglement of nanophotonic quantum memory nodes in a telecom network.</h4>
                <p class="lead mt-0 mb-1" style="font-size: 0.8rem;"> 
                    We distributed entanglement between two separate nodes of a quantum network 
                    at a rate of up to 1.4 Hz with over 80% fidelity. We demonstrated over 1 second of coherence time for entanglement between Si29
                    nuclear spins and successfully distributed entanglement over 35 km of deployed telecom fiber in the Boston area.
                    <a href="https://www.nature.com/articles/s41586-024-07252-z/" target="_blank" style="font-size: 12px;">Nature</a>
                </p>
                
            </div>
                
          </div>
        </div> -->
        <div class="col-lg-5 col-md-6 mx-auto">
            <div class="card card-profile" style="padding: 5px;" data-background="full">
                <a href="javascript:;">
                  <img class="img img-raised rounded" src="{{ '/assets/img/pubs/RobustRegister.jpg' | relative_url }}">
                </a>
                <div class="card-body" style="padding: 5px;">
                    <h4 class="display-4" style="font-size: 0.8rem;">Robust multi-qubit quantum network node with integrated error detection.</h4>
                    <p class="lead mt-0 mb-1" style="font-size: 0.8rem;"> Our platform is based on Silicon Vacancy (SiV) defects in diamond nanophotonic cavities. Each cavity contains 
                        a single SiV with two qubits: electron spin, used as a communication qubit, and nuclear spin, used as a memory qubit. We demonstrate spin-photon entanglement
                         with both electron and nuclear spins, as well as higher temperature operation for SiVs under high-strain conditions.
                    <a href="https://www.science.org/doi/full/10.1126/science.add9771?casa_token=3DXi_yX-yMIAAAAA%3AUc6Y4JZiQla99Fc6SwgDq6YkgLhZfj1_-XeR_zW_U_QhpWLwPvM1VmAWi1jEG3Vziyo8IFseX6Oo/" target="_blank" style="font-size: 12px;">Science</a>
                </p>
                </div>
              </div>
        </div>
        <div class="col-lg-5 col-md-6 mx-auto">
            <div class="card card-profile" style="padding: 5px;" data-background="full">
                <a href="javascript:;">
                  <img class="img img-raised rounded" src="{{ '/assets/img/pubs/Transduction.jpg' | relative_url }}">
                </a>
                <div class="card-body" style="padding: 5px;">
                    <h4 class="display-4" style="font-size: 0.8rem;">Quantum-enabled millimeter wave to optical transduction using neutral atoms.</h4>
                    <p class="lead mt-0 mb-1" style="font-size: 0.8rem;"> Here, we present a new hybrid quantum platform for interfacing single optical 
                        and mm-wave photons using Rydberg atoms as mediators. Using our system we demonstrate quanutm-limited transduction between 
                        optical and mm-wave photons with internal efficiency of 58% and with less than 1 photon of added noise.
                    <a href="https://www.nature.com/articles/s41586-023-05740-2/" target="_blank" style="font-size: 12px;">Nature</a>
                </p>
                </div>
              </div>
        </div>
        <div class="col-lg-5 col-md-6 mx-auto">
            <div class="card card-profile" style="padding: 5px;" data-background="full">
                <a href="javascript:;">
                  <img class="img img-raised rounded" src="{{ '/assets/img/pubs/SeamLess.jpg' | relative_url }}">
                </a>
                <div class="card-body" style="padding: 5px;">
                    <h4 class="display-4" style="font-size: 0.8rem;">A tunable high-Q millimeter wave cavity for hybrid circuit and cavity QED experiments.</h4>
                    <p class="lead mt-0 mb-1" style="font-size: 0.8rem;"> We demonstrated a high-Q 3D seamless superconducting cavity compatible with 
                        hybrid quantum experiments that require optical access, such as Rydberg atoms, trapped molecules, and hybrid superconducting circuits
                    <a href="https://www.nature.com/articles/s41586-023-05740-2/" target="_blank" style="font-size: 12px;">APL</a>
                </p>
                </div>
              </div>
        </div>
        
      </div>
    </div>
  </div>