
<header class="header-1 fullWidth">
  <div class="container" style="padding-top: 100px; padding-bottom: 40px;">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 mb-4 mb-md-0">
        <h3 class="display-3">Welcome!</h3>
        <p class="lead mt-0">
          We are a lab of scientists and inventors at UC Berkeley working on building hybrid quantum systems with light-matter interfaces to advance quantum technology and probe fundamental science.
        </p>
        <div class="buttons mt-3">
          <a href="/research" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <img src="{{ '/assets/img/ill/hybrid_like_p2.png' | relative_url }}"
             alt="Hybrid quantum system illustration"
             class="img-fluid w-100">
      </div>
    </div>
  </div>
</header>
