<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/hybrid_like_p2.svg' | relative_url }}');"></div>
    <div class="container" style="padding-top: 50px;"> <!-- Adds space from the top -->
      <div class="row">
        <div class="col-lg-6 col-md-6 mr-auto text-left d-flex justify-content-top flex-column">
          <!-- Single container for title and text with background -->
          <div style="background: rgba(255, 255, 255, 0.8); padding: 15px; border-radius: 5px;">
            <h3 class="display-3">Welcome!</h3>
            <p class="lead mt-0">
              We are a lab of scientists and inventors at UC Berkeley working on building hybrid quantum systems with light-matter interfaces to advance quantum technology and probe fundamental science.
            </p>
            <div class="buttons mt-3">
              <a href="/research" class="btn btn-primary">Learn more</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>  
  </div>
</header>