


<!-- Is a page with a banner -->
 <div class="page-header page-header-small header-filter mb-4">
   <div class="page-header-image card-background"
     style="background-image: url({{ page.featured_image | relative_url }});"></div>
   <div class="container contentWrapper">
     <div class="row">
       <div class="col-lg-10 mx-auto text-center pt-4">
         <h2 class="display-2 text-white">{{ page.title }}</h2>
         <h2 class="lead text-white pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
       </div>
     </div>
   </div>
 </div>


